@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{color: #2b2b2b; text-decoration: none;}
img{vertical-align: top; border: none;}

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'SUIT Variable', 'Pretendard Variable', sans-serif; /*영문 suit, 한글 pretendard*/
  color: #2b2b2b;
}



#intro{
  font-weight: 900;
  letter-spacing: -1px;
  color: black;
  width: 100%;
  height: 953px;
  background-color: #F44336;
  text-align: center;
  padding: 50px 0 180px;
  box-sizing: border-box;
}
#intro .name{
  font-size: 24px;
  font-weight: 900;
}
#intro .gnb{
  display: flex;
  justify-content: center;
  font-size: 42px;
}
#intro .gnb li{
  margin: 50px 30px 0;
}
#intro .gnb li a{
  color: black;
}
#intro .i-am{
  font-size: 140px;
  line-height: 1.3;
  margin-top: 214px;
}
#intro .i-am .brackets #typed{
  font-size: 150px;
}





#section{
  position: relative;
  background-color: #F5F6F1;
}

#section .wrap-nav{
  width: 140px;
  height: 100%;
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  top: 0; left: 0;
  padding-top: 50px;
  background-color: #F5F6F1;
}
#section .wrap-nav .nav{
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  /* padding: 0 20px; */
}
#section .wrap-nav .nav li{
  margin: 0 20px;
}
#section .wrap-nav .nav li .title{
  color: #C9C9C9;
  transition: all 0.3s;
}
#section .wrap-nav .nav li .title.on,
#section .wrap-nav .nav li:hover .title{
  color: #111111;
}



#section #about-me{
  position: relative;
  top: 0; 
  left: 140px;
  width: calc(100% - 140px);
  background-color: #F5F6F1;
  display: grid;
  grid-template-columns: 28% 43% 29%;
  grid-template-rows: 100px 100px 1fr auto auto auto auto;
  /* grid-template-rows: 100px 100px 1fr 230px 230px 250px 1fr; */
  border-left: 1px solid #9B9896;
}

/* section 타이틀 텍스트 공통적용 */
#section .section-title{
  grid-column-start: 1;
  grid-column-end: 4;
  color: #111111;
  font-weight: 900;
  line-height: 100px;
  padding-left: 60px;
} 



/* 프로필 */
#section #about-me .wrap-profile{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;
  border-right: 1px solid #9B9896;
  border-bottom: 1px solid #9B9896;
  border-top: 1px solid #9B9896;
  
}
#section #about-me .wrap-profile .me{
  width: 100%;
  /* height: 488px; */
}
#section #about-me .wrap-profile .profile{
  padding: 60px 0 50px 15%;
  position: relative;
}
#section #about-me .wrap-profile .profile .info{
  font-size: 22px;
} 
#section #about-me .wrap-profile .profile .info p+p{
  margin-top: 15px;
}
#section #about-me .wrap-profile .profile .info .txt-tit{
  font-weight: 700;
}
#section #about-me .wrap-profile .profile .contact{
  margin-top: 50px;
  font-size: 20px;
}
#section #about-me .wrap-profile .profile .contact li+li{
  margin-top: 20px;
}
#section #about-me .wrap-profile .profile .contact li span{
  margin-left: 15px;
}
#section #about-me .wrap-profile .profile .typo{
  position: absolute;
  right: -2px;
  bottom: -224px;
}


/* 이력서 제목 */
#section #about-me .resume-tit{
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom: 1px solid #9B9896;
  border-top: 1px solid #9B9896;

}
#section #about-me .resume-tit h2{
  font-size: 26px;
  line-height: 100px;
  padding-left: 60px;
  color: #3b3b3b;
  font-weight: 400;
}
#section #about-me .resume-tit h2 span{
  color: #111111;
  font-weight: 600;
}

/* 이력서 섹션별 타이틀 및 내용 텍스트 공통적용 */
#section #about-me .mm-title{
  font-size: 24px;
  font-weight: 800;
  color: #E53A3A;
}
#section #about-me  .ss-title{
  font-weight: 800;
  font-size: 18px;
}
#section #about-me  .ss-title .position{
  font-weight: 600;
}
#section #about-me .cont-txt{
  line-height: 1.5;
  font-size: 18px;
}



/* 경력 */
#section #about-me .wrap-experience{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  padding: 50px 0 50px 8% ;
  border-bottom: 1px solid #9B9896;
}
#section #about-me .wrap-experience .experience dl{
  margin-top: 45px;
  line-height: 1.7;
}
#section #about-me .wrap-experience .experience dt{
  margin-top: 20px;
}


/* 이미지1 */
#section #about-me .img-area1{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; 
  border-bottom: 1px solid #9B9896;
  background-image: url(images/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* 자격 */
#section #about-me .wrpa-certif{
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom: 1px solid #9B9896;
  padding: 50px 0 50px 4.8% ;
}
#section #about-me .wrpa-certif .certificat{
  display: flex;
  margin-top: 30px;
  line-height: 1.7;
}
#section #about-me .wrpa-certif .certificat .add-date,
#section #about-me .wrap-edu .education .edu-date{
  font-weight: 800;
  color: black;
  font-size: 15px;
}
#section #about-me .wrpa-certif .certificat li+li{
  margin-left: 60px;
}

/* 이미지3 1666px 이하 사용 */
#section #about-me .img3{
  display: none;
}

/* 학력 */
#section #about-me .wrap-edu{
  grid-column-start: 2;
  grid-column-end: 3;
  border-bottom: 1px solid #9B9896;
  padding: 50px 0 50px 8%;
}
#section #about-me .wrap-edu .education{
  display: flex;
  margin-top: 30px;
  line-height: 1.7;
}

#section #about-me .wrap-edu .education li + li{
  margin-left: 60px;
}


/* 기술 */
#section #about-me .wrap-skill{
  grid-column-start: 2;
  grid-column-end: 3;
  border-bottom: 1px solid #9B9896;
  padding: 50px 0 50px 8%;
}
#section #about-me .wrap-skill .skill-tool{
  display: flex;
  margin-top: 30px;
}
#section #about-me .wrap-skill .skill-tool li{
  text-align: center;
  cursor: pointer;
}
#section #about-me .wrap-skill .skill-tool li+li{
  margin-left: 15px;
}
#section #about-me .wrap-skill .skill-tool li .ico-name{
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  opacity: 0;
  transition: all 0.3s;
}
#section #about-me .wrap-skill .skill-tool li:hover .ico-name{
  opacity: 1;
}


/* 이미지2 */
#section #about-me .img-area2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  background-image: url(images/img2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #9B9896;
}


/* 자기소개 */
#section #about-me .introduce{
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid #9B9896;
  padding: 50px 4% 0 4%;
}
#section #about-me .introduce p{
  margin: 30px 0 50px;
}





/* projects */
#section #projects{
  position: relative;
  top: 0; 
  left: 140px;
  width: calc(100% - 140px);
  background-color: #F5F6F1;
  padding: 100px 0 150px;
  border-left: 1px solid #9B9896;
}
#section #projects .pro-count{
  width: 80%;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

#section #projects .pro-count .project{
  width: 48.5%;
  padding-top: 50px;
  color: #ACACAC;
  aspect-ratio: 5 / 4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s;
}
#section #projects .pro-count .project:hover{
  color: #FFB326;
}
#section #projects .pro-count .project h3{
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
}
#section #projects .pro-count .pantone{
  background-image: url(images/pantone-b.png);
}
#section #projects .pro-count .onsil{
  background-image: url(images/onsil-b.png);
}
#section #projects .pro-count .hyundai{
  background-image: url(images/hyundai-b.png);
  margin-top: 40px;
}
#section #projects .pro-count .aromatica{
  background-image: url(images/aromatica-b.png);
  margin-top: 40px;
}


#section #projects .pro-count .pantone:hover{
  background-image: url(images/pantone.png);
}
#section #projects .pro-count .onsil:hover{
  background-image: url(images/onsil.png);
}
#section #projects .pro-count .hyundai:hover{
  background-image: url(images/hyundai.png);
}
#section #projects .pro-count .aromatica:hover{
  background-image: url(images/aromatica.png);
}



/* 모달 */
#section  .modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
#section .modal.active{
  display: block;
}


#section .modal .modal-cont{
  width: 80%;
  height: 650px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: none;
}
#section .modal .modal-cont.active{
  display: block;
}
#section .modal .modal-cont .cont-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

/* 닫기버튼 */
#section  .modal .modal-cont .cont-wrap .close-btn{
  position: absolute;
  top: 20px; right: 30px;
  cursor: pointer;
  z-index: 999;
}


/* 좌측 텍스트 영역 */
#section  .modal .modal-cont .cont-wrap .modal-txt{
  width: 55%;
  padding: 70px 35px 70px 70px;
} 
#section  .modal .modal-cont .cont-wrap .modal-txt .modal-title{
  display: flex;
}
/*  title 글씨색상 */
#section  .modal .m-pantone .cont-wrap .modal-txt .modal-title{
  color: #F44336;
}
#section  .modal .m-onsil .cont-wrap .modal-txt .modal-title{
  color: #8B9773;
}
#section  .modal .m-hyundai .cont-wrap .modal-txt .modal-title{
  color: #5E90B5;
}
#section  .modal .m-aromatica .cont-wrap .modal-txt .modal-title{
  color: #004A25;
}

#section  .modal .modal-cont .cont-wrap .modal-txt .modal-title .project-name{
  font-size: 34px;
  font-weight: 800;
}
#section  .modal .modal-cont .cont-wrap .modal-txt .modal-title a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
  height: 45px;
  margin-left: 50px;
  text-align: center;
  transition: all 0.3s
}
#section  .modal .m-pantone .cont-wrap .modal-txt .modal-title a{
  color: #F44336;
  border: 1px solid #F44336;
}
#section  .modal .m-onsil .cont-wrap .modal-txt .modal-title a{
  color: #8B9773;
  border: 1px solid #8B9773;
}
#section  .modal .m-hyundai .cont-wrap .modal-txt .modal-title a{
  color: #5E90B5;
  border: 1px solid #5E90B5;
}
#section  .modal .m-aromatica .cont-wrap .modal-txt .modal-title a{
  color: #004A25;
  border: 1px solid #004A25;
}
/* 사이트바로가기 호버 */
#section  .modal .modal-cont .cont-wrap .modal-txt .modal-title a:hover{
  color: #fff;
}
#section  .modal .m-pantone .cont-wrap .modal-txt .modal-title a:hover{
  background-color: #F44336;
  border: 1px solid #F44336;
}
#section  .modal .m-onsil .cont-wrap .modal-txt .modal-title a:hover{
  background-color: #8B9773;
  border: 1px solid #8B9773;
}
#section  .modal .m-hyundai .cont-wrap .modal-txt .modal-title a:hover{
  background-color: #5E90B5;
  border: 1px solid #5E90B5;
}
#section  .modal .m-aromatica .cont-wrap .modal-txt .modal-title a:hover{
  background-color: #004A25;
  border: 1px solid #004A25;
}


#section  .modal .modal-cont .cont-wrap .modal-txt .concept{
  margin: 35px 0 60px;
}
#section  .modal .modal-cont .cont-wrap .modal-txt .concept .concept-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
#section  .modal .modal-cont .cont-wrap .modal-txt .concept p{
  line-height: 1.45;
}
#section  .modal .modal-cont .cont-wrap .modal-txt .concept p span{
  color: black;
  font-weight: 700;
}


#section .modal .modal-cont .cont-wrap .ect dl{
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  font-weight: 700;
  padding-bottom: 60px;
}
#section .modal .modal-cont .cont-wrap .ect dl dt{
  color: #8F8F8F;
}



/* 우측 이미지 영역 */
#section  .modal .modal-cont .cont-wrap .modal-img{
  width: 45%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#section  .modal .m-pantone .cont-wrap .modal-img{
  background-image: url(images/review-pantone.png);
}
#section  .modal .m-onsil .cont-wrap .modal-img{
  background-image: url(images/review-onsil.png);
}
#section  .modal .m-hyundai .cont-wrap .modal-img{
  background-image: url(images/review-hyundai.png);
}
#section  .modal .m-aromatica .cont-wrap .modal-img{
  background-image: url(images/review-aromatica.png);
}









/* footer (contact)-------------------------------------------- */
#footer{
  position: relative;
  top: 0; 
  left: 140px;
  width: calc(100% - 140px);
  background-color: #252525;
  height: 300px;
  padding: 60px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#footer .left-area p{
  color: #8D8D8D;
  font-size: 15px;
  line-height: 1.5;
}
#footer .left-area p.copyright{
  font-size: 14px;
  font-weight: 300;
}
#footer .left-area h3{
  font-size: 22px;
  font-weight: 800;
  margin: 10px 0 90px;
}

#footer .right-area{
  text-align: right;
  font-size: 18px;
  font-weight: 300;
}
#footer .right-area li{
  margin-bottom: 20px;
}
#footer .right-area li a{
  margin-right: 15px;
  color: #fff;
}






@media all and (min-width:1667px) and (max-width:1780px){
  

  /* 학력 */
  #section #about-me .wrap-edu{
    grid-column-end: 4;
    padding-left:4.8%;
  }


  /* 기술 */
  #section #about-me .wrap-skill{
    grid-column-end: 4;
    padding-left:4.8%;
  }


  #section #about-me .img-area2{
    display: none;
  }


}






@media all and (min-width:1400px) and (max-width:1666px){
  
  #section #about-me{
    position: relative;
    top: 0; 
    left: 140px;
    width: calc(100% - 140px);
    background-color: #F5F6F1;
    display: grid;
    grid-template-columns: 28% 43% 29%;
    border-left: 1px solid #9B9896;
  }
  
/* 프로필 */
  #section #about-me .wrap-profile{
    grid-row-end: 5;    
  }
  #section #about-me .wrap-profile .profile{
    padding-left: 5%;
  }
  #section #about-me .wrap-profile .profile .typo{
    bottom: -134px;
  }

  /* 자격 */
  #section #about-me .wrpa-certif{
    grid-column-end: 3;
    padding-left: 8%;
  }
  #section #about-me .wrpa-certif .certificat{
    display: block;
  }
  #section #about-me .wrpa-certif .certificat li+li{
    margin-top: 20px;
    margin-left: 0px;
  }

  /* 이미지3 */
  #section #about-me .img3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: block;
    background-image: url(images/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }



  /* 학력 */
  #section #about-me .wrap-edu{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 4%;
  }


  /* 기술 */
  #section #about-me .wrap-skill{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 4%;
  }


  #section #about-me .img-area2{
    display: none;
  }


/* modal */
  #section .modal .modal-cont .cont-wrap{
    display: block;
  }
  /* 좌측 텍스트 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-txt{
    width: 100%;
    padding: 70px 70px 0px 70px;
  } 
  /* 우측 이미지 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-img{
    width: 100%;
    background-position: center;
  }
  #section  .modal .m-pantone .cont-wrap .modal-img{
    background-image: url(images/review-pantone-s.png);
  }
  #section  .modal .m-onsil .cont-wrap .modal-img{
    background-image: url(images/review-onsil-s.png);
  }
  #section  .modal .m-hyundai .cont-wrap .modal-img{
    background-image: url(images/review-hyundai-s.png);
  }
  #section  .modal .m-aromatica .cont-wrap .modal-img{
    background-image: url(images/review-aromatica-s.png);
  }

}




@media all and (min-width:1000px) and (max-width:1399px){

  #intro .gnb{
    font-size: 36px;
  }
  #intro .i-am .brackets #typed{
    font-size: 130px;
  }


    /* 이력서 제목 */
  #section #about-me .resume-tit{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  
  /* 프로필 */
  #section #about-me .wrap-profile{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    border-top: none;
    border-right: none;
  }
  #section #about-me .wrap-profile .profile{
    width: 80%;
    padding-left: 5%;
  }
  #section #about-me .wrap-profile .profile .contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  #section #about-me .wrap-profile .profile .contact li{
    margin-right: 40px;
    padding-top: 20px;
  }
  #section #about-me .wrap-profile .profile .contact li+li{
    margin-top: 0px;
  }
  #section #about-me .wrap-profile .profile .typo{
    display: none;
  }
  





  /* 경력 */
  #section #about-me .wrap-experience{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 12% ;
  }
  #section #about-me .wrap-experience .experience dl{
    margin-top: 45px;
    line-height: 1.7;
  }
  #section #about-me .wrap-experience .experience dt{
    margin-top: 20px;
  }



    /* 이미지1 */
  #section #about-me .img-area1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; 
  }


/* 자격 */
#section #about-me .wrpa-certif{
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 8%;
}
#section #about-me .wrpa-certif .certificat{
  flex-wrap: wrap;
}
#section #about-me .wrpa-certif .certificat li{
  margin: 20px 50px 0 0;
}
#section #about-me .wrpa-certif .certificat li+li{
  margin-left: 0px;
}


/* 이미지2 */
  #section #about-me .img-area2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    display: none;
  }

/* 학력 */
  #section #about-me .wrap-edu{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 8%;
  }


  /* 기술 */
  #section #about-me .wrap-skill{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 8%;
  }

  /* 자기소개 */
  #section #about-me .introduce{
    padding-left: 8%;
  }



  /* projects */
  #section #projects .pro-count{
    width: 100%;
    display: block;
  }
  #section #projects .pro-count .project{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }


/* modal */
  #section .modal .modal-cont .cont-wrap{
    display: block;
  }
  /* 좌측 텍스트 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-txt{
    width: 100%;
    padding: 70px 70px 0px 70px;
  } 
  /* 우측 이미지 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-img{
    width: 100%;
    background-position: center;
  }
  #section  .modal .m-pantone .cont-wrap .modal-img{
    background-image: url(images/review-pantone-s.png);
  }
  #section  .modal .m-onsil .cont-wrap .modal-img{
    background-image: url(images/review-onsil-s.png);
  }
  #section  .modal .m-hyundai .cont-wrap .modal-img{
    background-image: url(images/review-hyundai-s.png);
  }
  #section  .modal .m-aromatica .cont-wrap .modal-img{
    background-image: url(images/review-aromatica-s.png);
  }



  /* footer (contact)-------------------------------------------- */
  #footer{
    padding: 60px 50px;
    height: auto;
  }
  #footer .right-area li img{
    width: 32px;
  }
}






@media all and (min-width:897px) and (max-width:999px){

  #intro .gnb{
    font-size: 36px;
  }
  #intro .i-am .brackets #typed{
    font-size: 130px;
  }


    /* 이력서 제목 */
  #section #about-me .resume-tit{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  
  /* 프로필 */
  #section #about-me .wrap-profile{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    border-top: none;
    border-right: none;
  }
  #section #about-me .wrap-profile .profile{
    width: 80%;
    padding-left: 5%;
  }
  #section #about-me .wrap-profile .profile .contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  #section #about-me .wrap-profile .profile .contact li{
    margin-right: 40px;
    padding-top: 20px;
  }
  #section #about-me .wrap-profile .profile .contact li+li{
    margin-top: 0px;
  }
  #section #about-me .wrap-profile .profile .typo{
    display: none;
  }
  





  /* 경력 */
  #section #about-me .wrap-experience{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 12% ;
  }
  #section #about-me .wrap-experience .experience dl{
    margin-top: 45px;
    line-height: 1.7;
  }
  #section #about-me .wrap-experience .experience dt{
    margin-top: 20px;
  }



    /* 이미지1 */
  #section #about-me .img-area1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; 
  }


/* 자격 */
#section #about-me .wrpa-certif{
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 8%;
}
#section #about-me .wrpa-certif .certificat{
  flex-wrap: wrap;
}
#section #about-me .wrpa-certif .certificat li{
  margin: 20px 50px 0 0;
}
#section #about-me .wrpa-certif .certificat li+li{
  margin-left: 0px;
}


/* 이미지2 */
  #section #about-me .img-area2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    display: none;
  }

/* 학력 */
  #section #about-me .wrap-edu{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 8%;
  }


  /* 기술 */
  #section #about-me .wrap-skill{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 8%;
  }

  /* 자기소개 */
  #section #about-me .introduce{
    padding-left: 8%;
  }


  /* projects */

  #section #projects .pro-count{
    width: 100%;
    display: block;
  }
  #section #projects .pro-count .project{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

/* modal */
  #section .modal .modal-cont .cont-wrap{
    display: block;
  }
  /* 좌측 텍스트 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-txt{
    width: 100%;
    padding: 70px 70px 0px 70px;
  } 
  /* 우측 이미지 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-img{
    width: 100%;
    background-position: center;
  }
  #section  .modal .m-pantone .cont-wrap .modal-img{
    background-image: url(images/review-pantone-s.png);
  }
  #section  .modal .m-onsil .cont-wrap .modal-img{
    background-image: url(images/review-onsil-s.png);
  }
  #section  .modal .m-hyundai .cont-wrap .modal-img{
    background-image: url(images/review-hyundai-s.png);
  }
  #section  .modal .m-aromatica .cont-wrap .modal-img{
    background-image: url(images/review-aromatica-s.png);
  }




  /* footer (contact)-------------------------------------------- */
  #footer{
    padding: 60px 50px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;

  }
  #footer .left-area{
    text-align: center;
    margin-top: 30px;
  }
  #footer .right-area{
    text-align: center;
  }
  #footer .right-area li{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  #footer .right-area li+li{
    margin-top: 30px;
  }
  #footer .right-area li a{
    margin-right: 0px;
  }
  #footer .right-area li img{
    width: 32px;
    margin: 0 auto 5px;
  }
}





@media all and (max-width:896px){

  /* *{overflow: hidden;} */
  
  /* 인트로 */
  #intro{
    height: auto;
    padding: 50px 0 80px;
  }
  #intro .gnb{
    display: block;
    font-size: 36px;
    /* height: 653px; */
    padding: 50px 0 50px;
  }
  #intro .i-am{
    font-size: 50px;
    margin-top: 100px;
  }
  #intro .gnb li{
    margin: 20px 0px 0;
  }
  #intro .i-am .brackets #typed{
    font-size: 48px;
  }



  /* 네비 */
  #section .wrap-nav{
    display: none;
  }



/* about-me */
  #section #about-me{
    position: relative;
    top: 0px; 
    left: 0px;
    width: 100%;
    border-top: none;
    border-left: none;
    grid-template-columns: 100%;
    grid-template-rows: 60px 100px 1fr auto auto auto auto auto ;
  }

  /* section 타이틀 텍스트 공통적용 */
  #section .section-title{
    line-height: 60px;
    padding-left: 5%;
  } 

  /* 프로필 */
  #section #about-me .wrap-profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-right: none;
    border-top: 1px solid #9B9896;
  }
  #section #about-me .wrap-profile .profile{
    padding-left: 5%;
    padding-right: 5%;
  }
  #section #about-me .wrap-profile .profile .info{
    font-size: 18px;
  } 
  #section #about-me .wrap-profile .profile .contact{
    font-size: 17px;
  }
  #section #about-me .wrap-profile .profile .contact li span{
    line-height: 1.7;
  }
  #section #about-me .wrap-profile .profile .typo{
    display: none;
  }


  /* 이력서 제목 */
  #section #about-me .resume-tit{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: none;
    border-top: 1px solid #9B9896;
  }
  #section #about-me .resume-tit h2{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 18px;
  }

  /* 경력 */
  #section #about-me .wrap-experience{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
  #section #about-me .wrap-experience .experience dt .period{
    display: block;
  }


  /* 이미지1 */
  #section #about-me .img-area1{
    display: none;
  }


  /* 자격 */
  #section #about-me .wrpa-certif{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left: 5%;
    padding-right: 5%;
  }
  #section #about-me .wrpa-certif .certificat{
    display: block;
  }
  #section #about-me .wrpa-certif .certificat li+li{
    margin-top: 15px;
    margin-left: 0px;
  }



  /* 학력 */
  #section #about-me .wrap-edu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-left: 5%;
    padding-right: 5%;
  }
  #section #about-me .wrap-edu .education{
    display: block;
  }
  #section #about-me .wrap-edu .education li + li{
    margin-left: 0px;
    margin-top: 15px;
  }


  /* 기술 */
  #section #about-me .wrap-skill{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-left: 5%;
    padding-right: 5%;
  }
  #section #about-me .wrap-skill .skill-tool{
    flex-wrap: wrap;
  }
  #section #about-me .wrap-skill .skill-tool li{
    width: 70px;
    margin: 10px 10px 0 0;
  }
  #section #about-me .wrap-skill .skill-tool li+li{
    margin-left: 0px;
  }

  /* 이미지2 */
  #section #about-me .img-area2{
    display: none;
  }

  /* 자기소개 */
  #section #about-me .introduce{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-left: 5%;
    padding-right: 5%;
  }




  /* projects */
  #section #projects{
    top: 0px; 
    left: 0px;
    width: 100%;
    border-left: none;
    padding: 50px 0 100px;
  }
  #section #projects .pro-count{
    width: 100%;
    margin-top: 30px;
    display: block;
  }
  #section #projects .pro-count .project{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
  } 
  #section #projects .pro-count .project p{
    font-size: 14px;
  }
  #section #projects .pro-count .project h3{
    font-size: 16px;
    font-weight: 800;
    margin-top: 0px;
  }

/* modal */
  #section .modal .modal-cont{
    width: 90%;
  }
  #section .modal .modal-cont .cont-wrap{
    display: block;
  }
  /* 좌측 텍스트 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-txt{
    width: 100%;
    padding: 20px;
  } 
  #section  .modal .modal-cont .cont-wrap .modal-txt .modal-title{
    display: block;
  }
  #section  .modal .modal-cont .cont-wrap .modal-txt .modal-title .project-name{
    font-size: 28px;
    font-weight: 800;
  }
  #section  .modal .modal-cont .cont-wrap .modal-txt .modal-title a{
    margin-top: 20px;
    margin-left: 0px;
  }
  #section .modal .modal-cont .cont-wrap .ect dl{
    display: block;
    padding-bottom: 0px;
  }
  #section .modal .modal-cont .cont-wrap .ect dl dt{
    margin-top: 15px;
  }
  #section .modal .modal-cont .cont-wrap .ect dl dd{
    margin-top: 5px;
  }

  
  /* 우측 이미지 영역 */
  #section  .modal .modal-cont .cont-wrap .modal-img{
    width: 100%;
    background-position: center;
  }
  #section  .modal .m-pantone .cont-wrap .modal-img{
    background-image: url(images/review-pantone-s.png);
  }
  #section  .modal .m-onsil .cont-wrap .modal-img{
    background-image: url(images/review-onsil-s.png);
  }
  #section  .modal .m-hyundai .cont-wrap .modal-img{
    background-image: url(images/review-hyundai-s.png);
  }
  #section  .modal .m-aromatica .cont-wrap .modal-img{
    background-image: url(images/review-aromatica-s.png);
  }



  /* footer (contact)-------------------------------------------- */
  #footer{
    position: relative;
    top: 0; 
    left: 0px;
    padding: 60px 5%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  #footer .left-area{
    text-align: center;
    margin-top: 30px;
  }
  #footer .right-area{
    text-align: center;
    font-size: 16px;
    color: #c0c0c0;
  }
  #footer .right-area li{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  #footer .right-area li+li{
    margin-top: 30px;
  }
  #footer .right-area li a{
    margin-right: 0px;
  }
  #footer .right-area li img{
    width: 32px;
    margin: 0 auto 5px;
  }
}